Submitted by: Upendra R

1. In the below elements which of them are values or an expression? 
eg:- values can be
integer or string and expressions will be mathematical operators.

*

&#39;hello&#39;

-87.8

-

/

+

6

In [1]:
# Expressions are : 
# * (Arithmetic Operator for multiplication)
print(4 * 4)

# - (Arithmetic Operator for subtraction)
print(4 - 4)

# / (Arithmetic Operator for division)
print(4/4)

# + (Arithmetic Operator for addition)
print(4 + 4)

16
0
1.0
8

In [3]:
# Values are:
# 'hello' - string value
print('hello')

# -87.8 - float value
print(-87.8)

# 6 - int value
print(6)

hello
-87.8
6

2. What is the difference between string and variable?

Ans: string is a collection of alphabets or other characters.
variable is a reserved memory location to store values.

In [4]:
# Example - string

print('one-neuron')
type('one-neuron')

one-neuron

str

In [5]:
website = 'one-neuron'  # website is the variable which stores the string 'one-neuron' id(website) provides the memory location of the variable website.
type(website)
id(website)

139795213889392

3. Describe three different data types.

Ans: 1) int - integer data type
2) float - floating point value or decimal values
3) boolean data type - True or False

In [6]:
# int
print(type(4))

# float
print(type(4.4))

# bool
print(type(True))

<class 'int'>
<class 'float'>
<class 'bool'>

4. What is an expression made up of? What do all expressions do?

Ans: In Python, an expression is made up of operator & operand.
Expressions represent performing of any operation on suitable operand which could be just some values or variables.

In [7]:
# expression : 
# 4 & 6 are values, + is an operator
print(4 + 6)

# operations on variables : a,b are variables, * is an operator
a = 5
b = 7
print(a * b)

10
35

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Ans: spam = 10 is a statement made to assign the value to variable spam whereas expression consists of combination of operator & operands which returns a result value.

In [9]:
# expression
a = 10 + 20

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [13]:
bacon = 22
bacon + 1
print(bacon)
# This is because, bacon + 1 is not stored to bacon again.

22

7. What should the values of the following two terms be?

&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3

In [14]:
'spam' + 'spamspam'

'spamspamspam'

In [15]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans: In Python, the variable name should NOT start with a number or special characters. It will throw error.

In [18]:
100 = 121

SyntaxError: ignored

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [21]:
value = 56
print(int(value))
print(float(value))
print(str(value))

56
56.0
56

10. Why does this expression cause an error? How can you fix it?   
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

Ans: Because, 99 is int type & concatenation doesn't work with other strings. We have to convert 99 to string by either using str(99) or '99'.

In [23]:
'I have eaten'+ ' 99' + ' burritos'

'I have eaten 99 burritos'